<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://guilhermeazureteste1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a1859629-c4d2-4c2b-9e94-81a354e048d3/resourceGroups/teste1/providers/Microsoft.Web/sites/guilhermeazureteste1</ResourceId>
    <UserName>$guilhermeazureteste1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://guilhermeazureteste1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>